
body {
    padding: 0;
    margin: 0;
  }
  
  #map,
  body,
  html {
    height: 100%;
  }
  
  .info {
    padding: 1px 10px;
    border-radius: 3px;
    background: #E5E7E9;
  }
  
  .legend {
    color: #000000;
    line-height: 25px;
  }
  
  .legend i {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.75;
    float: right;
  }